@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Permanent+Marker&display=swap');
body {
    background-color: white;
}
body{    
    background-image: url(./bilder/spencer-watson-ioy3bN5Irew-unsplash.jpg),url(./bilder/jared-brashier-duNHkmSkW6M-unsplash.jpg),url(./bilder/jason-blackeye-XYrjl3j7smo-unsplash.jpg);
    background-position: left bottom, right bottom, right bottom;
    background-size: 480px 360px;
    background-repeat: no-repeat;
}


h1 {
    color:black;
    font-family: 'Amatic SC', cursive;
    font-size: 75px
}
p {
    color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 35px
}
a {
    color:black;
    font-family: 'Amatic SC', cursive;
    font-size: 35px
}