@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans utseende */
body {
    background: url(../bilder/moon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Utseende Meny */

.kontainer ul {
    text-transform: uppercase;
    background: black;
    margin: 0 0 20px 0;
    padding: 35px;
    text-align: center;
    border: solid red 5px;
    word-spacing: 200px;
}
.kontainer ul li {
    display: inline;
}
.kontainer li a {
    text-decoration: none;
    color: red;
    font-size: 45px;
}
.kontainer .filmsida {
    background: black;
    width: 1000px;
    margin: auto;
    border: solid red 5px;
    border-radius: 20px;
    margin-top: 50px;
}
.kontainer .filmsida .film {
    background: red;
    padding: 50px;
    margin: 150px;
    text-align: center;
    border-radius: 20px;
    margin: 65px 150px 65px 150px;
}
.kontainer .meny a:hover {
    box-shadow: 5px 5px 50px white;
    padding: 10px;
    border-radius: 15px;
}
.kontainer .display {
    background: white;
    padding: 10px;
    border-radius: 15px;
}

/* Textens utseende */
.kontainer .filmsida .film p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}
.kontainer .filmsida .film h2 {
    font-size: 30px;
}
h1 {
    color: white;
    font-size: 45px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    margin-top: 50px;
    word-spacing: 5px;
}


/* bildernas utseende */
.kontainer .filmsida .film img {
    width: 600px;
    padding: 5px;
    border-radius: 20px;
}